:root{
  --primary-color:#3a6cf4;
  --background-color:#000016;
}
*{
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;

}
body{
  min-height: 110vh;
}
section{
  padding: 100px 200px;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  transition: 0.5s ease;
}

header{
  background: #ffff;
  padding: 10px 200px;
}
header .brand{
  color: #0b0101;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
}
header .brand:hover{
  color: var(--primary-color);
}
header .navigation{
  position:relative;
}
header .navigation a{
  color: #0b0101;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}
header .navigation a:hover{
  color: var(--primary-color);
}
.main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main .content{
  max-width: 800px;
}
.profile img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  padding: 10px;
}
.main .content h2{
  color: #0b0101;
  font-size: 1.5em;
  font-weight: 300;
}

.main .content .intro{
  color: #0b0101;
  font-size: 1em;
  font-weight: 100;
}

.quote h4{
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: 50;
  color: var(--primary-color);
  
}
.quote p{
  font-style: italic;
  color: var(--primary-color);
}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title{
  position: relative;
  color: var(--primary-color);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}
.section-title::before{
  content: '';
  position: absolute;
  top: 56px;
  left:50%;
  width: 140px;
  height: 4px;
  background: var(--primary-color);
  transform: translateX(-50%)
}
.section-title::after{
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  transform: translateX(-50%)
}
.about .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.about .content .col-left{
  position: relative;
  width: 45%;
}
.about .content .col-right{
  position:relative;
  width: 50%;
}
.about .content .col-left .img-card{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.about .content .col-left .img-card img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.about .content .col-right .content-title{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}
.about .content .col-right .paragraph-text{
  font-size: 1em;
}

.work{
  background: var(--background-color);
}

.work .content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card{
  width: 340px;
  margin: 15px;
}

.work .content .card .card-img{
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}
.work .content .card .card-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.work .content .card .card-img img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.contact .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card{
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  cursor: pointer;
}

.contact .content .row .card .contact-icon{
  color: var(--primary-color);
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
  
}

.contact .content .row .card:hover .contact-icon{
  transform: translateY(-10px);
}

.contact .content .row .card .info{
  text-align: center;
}
.contact .content .row .card .info h3{
  color: #111;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.contact .content .row .card a{
  text-decoration: none;
}
.contact .content .row .card .info span{
  color: #666;
  font-weight: 500;
}

.footer{
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer .footer-title{
  font-size: 20px;
  font-weight: 600;
}

.footer p{
  font-size: 16px;
  margin-top: 10px;
}

.footer p a{
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

@media(max-width:852px){
  
  section{
    padding: 80px 20px;
  }
  header .brand{
    font-size: 1.2em;
  }
  header .navigation a{
    display: flex;
  }
  .main .content h2{
    font-size: 1em;
    font-weight: 1000;
    padding-bottom: 10px;
  }
  
  .section-title{
    font-size: 1.8em;
  }
  .about .content{
    flex-direction: column;
    justify-content: space-between;
    
  }
  .about .content .column{
    position: relative;
    width: 100%;
  }
  .about .content .col-right{
    margin-top: 40px;  
  }
  .contact-form{
    padding: 35px 40px;
  }
}